<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc">
    <ul class="toc-item">
    <li><span><a href="#Cleaning the Data" data-toc-modified-id="Cleaning the Data">
        <span class="toc-item-num">1&nbsp;&nbsp;</span>Cleaning the Data</a></span>    
    <ul class="toc-item">
        <li><span><a href="#Importing the Data" data-toc-modified-id="Importing the Data-1.1">
            <span class="toc-item-num">1.1&nbsp;&nbsp;</span>Importing the Data</a></span></li></ul></li>
        <li><span><a href="#Inspecting the data" data-toc-modified-id="Inspecting the data">
            <span class="toc-item-num">2&nbsp;&nbsp;</span>Inspecting the data</a></span>        
    <ul class="toc-item">
        <li><span><a href="#Activation-functions-(from-before)" data-toc-modified-id="Activation-functions-(from-before)-2.1">
              <span class="toc-item-num">2.1&nbsp;&nbsp;</span>Activation functions (from before)</a></span>  
    <ul class="toc-item">
        <li><span><a href="#Recall-what-an-activation-function-does" data-toc-modified-id="Recall-what-an-activation-function-does-2.1.1">
              <span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Recall what an activation function does</a></span></li>
        <li><span><a href="#Using-the-proper-activation" data-toc-modified-id="Using-the-proper-activation-2.1.2">
              <span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Using the proper activation</a></span></li></ul></li>
        <li><span><a href="#Random-Starts" data-toc-modified-id="Random-Starts-2.2">
              <span class="toc-item-num">2.2&nbsp;&nbsp;</span>Random Starts</a></span></li>
        <li><span><a href="#Momentum" data-toc-modified-id="Momentum-2.3">
              <span class="toc-item-num">2.3&nbsp;&nbsp;</span>Momentum</a></span>           
    <ul class="toc-item">
        <li><span><a href="#Solution?--Give-it-some-speed-ðŸ˜Ž" data-toc-modified-id="Solution?--Give-it-some-speed-ðŸ˜Ž-2.3.1">
              <span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Solution?  Give it some speed ðŸ˜Ž</a></span><ul class="toc-item">
        <li><span><a href="#Code-Implementation" data-toc-modified-id="Code-Implementation-2.3.1.1">
              <span class="toc-item-num">2.3.1.1&nbsp;&nbsp;</span>Code Implementation</a></span></li></ul></li></ul></li></ul></li>
        <li><span><a href="#Make-it-Go-Faster-with-Optimizers!" data-toc-modified-id="Make-it-Go-Faster-with-Optimizers!-3">
              <span class="toc-item-num">3&nbsp;&nbsp;</span>Make it Go Faster with Optimizers!</a></span>            
    <ul class="toc-item">
        <li><span><a href="#Normalization-(Batch-Normalization)" data-toc-modified-id="Normalization-(Batch-Normalization)-3.1">
            <span class="toc-item-num">3.1&nbsp;&nbsp;</span>Normalization (Batch Normalization)</a></span></li>
        <li><span><a href="#Stochastic-Gradient-Descent" data-toc-modified-id="Stochastic-Gradient-Descent-3.2">
            <span class="toc-item-num">3.2&nbsp;&nbsp;</span>Stochastic Gradient Descent</a></span><ul class="toc-item">
        <li><span><a href="#Steps" data-toc-modified-id="Steps-3.2.1">
            <span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Steps</a></span></li></ul></li>
        <li><span><a href="#AdaGrad-&amp;-RMSProp" data-toc-modified-id="AdaGrad-&amp;-RMSProp-3.3">
            <span class="toc-item-num">3.3&nbsp;&nbsp;</span>AdaGrad &amp; RMSProp</a></span>                        
    <ul class="toc-item">
        <li><span><a href="#Code-Example" data-toc-modified-id="Code-Example-3.3.1">
            <span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Code Example</a></span></li></ul></li>
        <li><span><a href="#Adam-(Adaptivr-Moment-Estimation)-Optimization-and-Other-Variants" data-toc-modified-id="Adam-(Adaptivr-Moment-
                          Estimation)-Optimization-and-Other-Variants-3.4">
            <span class="toc-item-num">3.4&nbsp;&nbsp;</span>Adam (Adaptivr Moment Estimation) Optimization and Other Variants</a></span></li>          <li><span><a href="#Learning-Rate-Decay" data-toc-modified-id="Learning-Rate-Decay-3.5">
            <span class="toc-item-num">3.5&nbsp;&nbsp;</span>Learning Rate Decay</a></span><ul class="toc-item">
        <li><span><a href="#Solution?" data-toc-modified-id="Solution?-3.5.1">
            <span class="toc-item-num">3.5.1&nbsp;&nbsp;</span>Solution?</a></span></li>
        <li><span><a href="#Code-Example" data-toc-modified-id="Code-Example-3.5.2">
            <span class="toc-item-num">3.5.2&nbsp;&nbsp;</span>Code Example</a></span></li>
</ul>
</li>
        
</ul>
</li>
        
</ul>
    
</div>

# Cleaning the Data

Importing the Data

In [1]:
import json
import pandas as pd 
import imblearn

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline 
plt.style.use('fivethirtyeight')
import nltk # importing Natural Landuage Processing Toolit
from nltk.corpus import stopwords #importing stop words to remove non-necissary words
from nltk.tokenize import word_tokenize, sent_tokenize 
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer, TfidfTransformer,CountVectorizer
from sklearn.metrics import f1_score,accuracy_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
# from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from imblearn.over_sampling import SMOTE
from imblearn.pipeline import make_pipeline
from collections import Counter
from sklearn.naive_bayes import MultinomialNB
import re 
import nltk
import string


raw_data = pd.read_json('../../../data/data.json', lines=True)

raw_data.head(5)

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

# Inspecting the data

In [2]:
#inspecting the data types - Noticed that they're all objects 
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200853 entries, 0 to 200852
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   category           200853 non-null  object
 1   headline           200853 non-null  object
 2   authors            200853 non-null  object
 3   link               200853 non-null  object
 4   short_description  200853 non-null  object
 5   date               200853 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 9.2+ MB

In [3]:
#checking For Null Values
raw_data.isna().sum()

category             0
headline             0
authors              0
link                 0
short_description    0
date                 0
dtype: int64

In [4]:
#reassigning dataframe to df to uphold the original structure of the data - used for later references.
df = raw_data.copy()

df.head()

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

---

# Preprocessing the Data for Feature Engineering

### Removing Punctuation and cleaning rows

**Short Description Feature**

In [5]:
df.short_description

0         She left her husband. He killed their children...
1                                  Of course it has a song.
2         The actor and his longtime girlfriend Anna Ebe...
3         The actor gives Dems an ass-kicking for not fi...
4         The "Dietland" actress said using the bags is ...
                                ...
200848    Verizon Wireless and AT&T are already promotin...
200849    Afterward, Azarenka, more effusive with the pr...
200850    Leading up to Super Bowl XLVI, the most talked...
200851    CORRECTION: An earlier version of this story i...
200852    The five-time all-star center tore into his te...
Name: short_description, Length: 200853, dtype: object

In [6]:
df.headline

0         There Were 2 Mass Shootings In Texas Last Week...
1         Will Smith Joins Diplo And Nicky Jam For The 2...
2           Hugh Grant Marries For The First Time At Age 57
3         Jim Carrey Blasts 'Castrato' Adam Schiff And D...
4         Julianna Margulies Uses Donald Trump Poop Bags...
                                ...
200848    RIM CEO Thorsten Heins' 'Significant' Plans Fo...
200849    Maria Sharapova Stunned By Victoria Azarenka I...
200850    Giants Over Patriots, Jets Over Colts Among  M...
200851    Aldon Smith Arrested: 49ers Linebacker Busted ...
200852    Dwight Howard Rips Teammates After Magic Loss ...
Name: headline, Length: 200853, dtype: object

**Removing Casing and punctuaton**

In [7]:

#Removing punctuation. It helps us reduce the size of the data 
df['short_description'] = df['short_description'].str.lower().str.replace('[^\w\s]','')
print(df['short_description'].head(2))

print('\n============================================================')

df['headline'] = df['headline'].str.lower().str.replace('[^\w\s]','')
print('\n', df['headline'].head(2))

0    she left her husband he killed their children ...
1                              of course it has a song
Name: short_description, dtype: object

============================================================

 0    there were 2 mass shootings in texas last week...
1    will smith joins diplo and nicky jam for the 2...
Name: headline, dtype: object

**Merging Description and Headline together**

* checking lengths

In [8]:
len(df.short_description[1])

23

In [9]:
len(df.headline[1])

74

In [10]:
#merging
df['head_description'] = df.headline + ' ' + df.short_description
len(df.head_description[1])

98

### **Removing Non-Contributional Words from the Dataset**

In [11]:
#downloading stopwords to use
nltk.download('stopwords')

stop = stopwords.words('english')

#inspecting stop words 
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to C:\Users\Jordan
[nltk_data]     Johnson\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
#how many stop words do we have? 
df['stopwords'] = df['head_description'].apply(lambda x: len([x for x in x.split() if x in stop]))
df[['head_description','stopwords']].head()

                                    head_description  stopwords
0  there were 2 mass shootings in texas last week...         12
1  will smith joins diplo and nicky jam for the 2...          8
2  hugh grant marries for the first time at age 5...          9
3  jim carrey blasts castrato adam schiff and dem...          7
4  julianna margulies uses donald trump poop bags...          8

In [13]:
# inspecting stop words column to identify the number of unnecissary words within each column
df.head(2)

,category,headline,authors,link,short_description,date,head_description,stopwords
0,CRIME,there were 2 mass shootings in texas last week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,she left her husband he killed their children ...,2018-05-26,there were 2 mass shootings in texas last week...,12
1,ENTERTAINMENT,will smith joins diplo and nicky jam for the 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,of course it has a song,2018-05-26,will smith joins diplo and nicky jam for the 2...,8

**Removing Stop Words**

In [14]:
#removing stopwords 
df['clean_head_description'] = df['head_description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [15]:
df['clean_head_description'].head()

0    2 mass shootings texas last week 1 tv left hus...
1    smith joins diplo nicky jam 2018 world cups of...
2    hugh grant marries first time age 57 actor lon...
3    jim carrey blasts castrato adam schiff democra...
4    julianna margulies uses donald trump poop bags...
Name: clean_head_description, dtype: object

### Tokenizing the Text to Up Sentences Into a List of Words:

* **splitting a phrase, sentence, paragraph, or an entire text document into smaller units, such as individual words or terms. Each of these smaller units are called tokens.**

### Lemmitizing the data to reduce repitition by removing the affixes

In [16]:
#instantiating a lemmatizer
lemma = WordNetLemmatizer() #instantiate

In [17]:
#removing affixes from all words
def lemm_words(data):
    tokens = word_tokenize(data)   #Tokenizing data 
    lemmed_tokens = [lemma.lemmatize(word) for word in tokens]   #lemmatizing data
    return ' '.join(lemmed_tokens)

In [18]:
lemmed = df.head_description.apply(lemm_words)

In [19]:
l = lemmed                              #there were 2 mass shooting in texas last week

In [20]:
#changing series into a list of lists 
df['unique_word'] = l.str.split(' ')   # [there, were, 2, mass, shooting, in, texas, la

### **Creating a Bag of Words for Vectorization**

In [21]:
# list containing all words 

unique_lemmed_list = []                #the  (appears ->)  261830
for x in df['unique_word']:  
    unique_lemmed_list += x  # append elements of lists to full list

* **Removing Single Characters**

In [22]:
#inspecting the original number of words
len(unique_lemmed_list)

5855301

In [23]:
#looping through and adding words > len(1) to a new list 
full_words = [] # creating quotes 
index = 0
for words in unique_lemmed_list: 
    if len(words) > 1:
        full_words.append(words)

In [24]:
#checking the NEW number of words after removal
len(full_words)

5621546

* **Changing New Bag of Words into a Series for TF-IDF**

In [25]:
word_value_counts = pd.Series(full_words).value_counts()
word_value_counts

the             261830
to              163957
of              128119
and             119623
in               95541
                 ...
cruyff               1
schoolchoice         1
auclair              1
samoiloffs           1
insolvent            1
Length: 102078, dtype: int64

In [26]:
plot = pd.DataFrame(data = word_value_counts).reset_index()
plot.columns = ['word','count']
plot.head()

  word   count
0  the  261830
1   to  163957
2   of  128119
3  and  119623
4   in   95541

In [27]:
categories = df['category'].value_counts().index
categories

Index(['POLITICS', 'WELLNESS', 'ENTERTAINMENT', 'TRAVEL', 'STYLE & BEAUTY',
       'PARENTING', 'HEALTHY LIVING', 'QUEER VOICES', 'FOOD & DRINK',
       'BUSINESS', 'COMEDY', 'SPORTS', 'BLACK VOICES', 'HOME & LIVING',
       'PARENTS', 'THE WORLDPOST', 'WEDDINGS', 'WOMEN', 'IMPACT', 'DIVORCE',
       'CRIME', 'MEDIA', 'WEIRD NEWS', 'GREEN', 'WORLDPOST', 'RELIGION',
       'STYLE', 'SCIENCE', 'WORLD NEWS', 'TASTE', 'TECH', 'MONEY', 'ARTS',
       'FIFTY', 'GOOD NEWS', 'ARTS & CULTURE', 'ENVIRONMENT', 'COLLEGE',
       'LATINO VOICES', 'CULTURE & ARTS', 'EDUCATION'],
      dtype='object')

In [28]:
def groupper(grouplist,name):
    for idx in categories: #for each category name
        if idx in grouplist: #if the category name appears in the grouplist below
            df.loc[df['category'] == idx, 'category'] = name  #assign it to name = " "
groupper( grouplist= ['WELLNESS', 'HEALTHY LIVING','HOME & LIVING','STYLE & BEAUTY' ,'STYLE'] , name =  'LIFESTYLE AND WELLNESS')
groupper( grouplist= [ 'PARENTING', 'PARENTS' ,'EDUCATION' ,'COLLEGE'] , name =  'PARENTING AND EDUCATION')
groupper( grouplist= ['SPORTS','ENTERTAINMENT' , 'COMEDY','WEIRD NEWS','ARTS'] , name =  'SPORTS AND ENTERTAINMENT')
groupper( grouplist= ['TRAVEL', 'ARTS & CULTURE','CULTURE & ARTS','FOOD & DRINK', 'TASTE'] , name =  'TRAVEL-TOURISM & ART-CULTURE')
groupper( grouplist= ['WOMEN','QUEER VOICES', 'LATINO VOICES', 'BLACK VOICES'] , name =  'EMPOWERED VOICES')
groupper( grouplist= ['BUSINESS' ,  'MONEY'] , name =  'BUSINESS-MONEY')
groupper( grouplist= ['THE WORLDPOST' , 'WORLDPOST' , 'WORLD NEWS'] , name =  'WORLDNEWS')
groupper( grouplist= ['ENVIRONMENT' ,'GREEN'] , name =  'ENVIRONMENT')
groupper( grouplist= ['TECH', 'SCIENCE'] , name =  'SCIENCE AND TECH')
groupper( grouplist= ['FIFTY' , 'IMPACT' ,'GOOD NEWS','CRIME'] , name =  'GENERAL')
groupper( grouplist= ['WEDDINGS', 'DIVORCE',  'RELIGION','MEDIA'] , name =  'MISC')

In [ ]:
word = plot.word
count = plot.count

fig, ax = plt.subplots(figsize=(15,18))

plot.plot.barh(x='word', y= plot.count,
                      ax=ax,
                      color="purple")

# plot.word.value_counts()[:20].sort_index(ascending=False).plot(kind='barh')


# ax.set_title("Common Words Found in DS Job Descriptions(Without Stop Words)")

plt.show()

# Feature Engineering

### **TF - IDF**

**Term Frequency â€” Inverse Document Frequency** - Derermining word importance to documents

In [30]:
#inspecting lemmatized words 
l[1:8].str.split(' ')

1    [will, smith, join, diplo, and, nicky, jam, fo...
2    [hugh, grant, marries, for, the, first, time, ...
3    [jim, carrey, blast, castrato, adam, schiff, a...
4    [julianna, margulies, us, donald, trump, poop,...
5    [morgan, freeman, devastated, that, sexual, ha...
6    [donald, trump, is, lovin, new, mcdonalds, jin...
7    [what, to, watch, on, amazon, prime, thats, ne...
Name: head_description, dtype: object

* **Vectorizing the (title description + full description) column (converting it into numeric data).**

In [31]:
#creating a function to pass into the analyzer to clean the raw data 
    
def clean_history(history):
    history = "".join([word for word in history if word not in string.punctuation])
    tokens = re.split('\W+', history)
    history = [wn.lemmatize(word) for word in tokens if word not in stopwords]
    return history

In [73]:
# Returning Trigrams - Groups of Three Words
tfidf_vectorizer = TfidfVectorizer(max_features=1600)

In [74]:
X_tfidf = tfidf_vectorizer.fit_transform(df['head_description'])
features = (tfidf_vectorizer.get_feature_names())

In [75]:
print("\n\nShape of tfidf : \n", X_tfidf.shape)


#printing out the features 
print("\n\nFeatures : \n", features)
print("\n\nX1 : \n", X_tfidf.toarray())

Shape of tfidf :
 (200853, 1600)


Features :
 ['10', '100', '11', '12', '13', '14', '15', '16', '17', '18', '20', '2012', '2013', '2014', '2015', '2016', '2017', '25', '30', '40', '50', 'ability', 'able', 'about', 'above', 'absolutely', 'abuse', 'access', 'according', 'accused', 'across', 'act', 'action', 'activists', 'actor', 'actress', 'actually', 'ad', 'add', 'address', 'administration', 'adorable', 'adults', 'advice', 'after', 'again', 'against', 'age', 'ago', 'agree', 'ahead', 'air', 'airlines', 'airport', 'album', 'alive', 'all', 'allegedly', 'allow', 'almost', 'alone', 'along', 'already', 'also', 'although', 'always', 'am', 'amazing', 'america', 'american', 'americans', 'americas', 'amid', 'among', 'an', 'and', 'angeles', 'animal', 'animals', 'anniversary', 'announced', 'annual', 'another', 'answer', 'anxiety', 'any', 'anyone', 'anything', 'apparently', 'apple', 'approach', 'april', 'are', 'area', 'arent', 'around', 'arrested', 'art', 'article', 'artist', 'artists', 'as', 'ask', 'asked', 'asking', 'assault', 'at', 'attack', 'attacks', 'attention', 'attorney', 'author', 'autism', 'avoid', 'awards', 'awareness', 'away', 'awesome', 'babies', 'baby', 'back', 'bad', 'balance', 'ban', 'bank', 'bar', 'based', 'battle', 'be', 'beach', 'beat', 'beautiful', 'beauty', 'became', 'because', 'become', 'becomes', 'becoming', 'bed', 'been', 'beer', 'before', 'began', 'begin', 'beginning', 'behavior', 'behind', 'being', 'believe', 'below', 'ben', 'benefits', 'bernie', 'best', 'better', 'between', 'beyond', 'big', 'biggest', 'bill', 'billion', 'birth', 'birthday', 'bit', 'black', 'blood', 'blue', 'board', 'body', 'book', 'books', 'born', 'both', 'bowl', 'box', 'boy', 'boys', 'brain', 'brand', 'break', 'breakfast', 'breaking', 'breast', 'bring', 'brings', 'british', 'broken', 'brought', 'brown', 'budget', 'build', 'building', 'bush', 'business', 'but', 'buy', 'by', 'cake', 'california', 'call', 'called', 'calling', 'calls', 'came', 'campaign', 'can', 'cancer', 'candidate', 'candidates', 'cannot', 'cant', 'car', 'card', 'care', 'career', 'carolina', 'carpet', 'case', 'cases', 'cast', 'cat', 'caught', 'cause', 'celebrate', 'celebrating', 'celebrities', 'celebrity', 'center', 'central', 'century', 'ceo', 'certain', 'certainly', 'challenge', 'challenges', 'chance', 'change', 'changed', 'changes', 'changing', 'character', 'charged', 'check', 'cheese', 'chicago', 'chicken', 'chief', 'child', 'childhood', 'children', 'childrens', 'china', 'chinese', 'chocolate', 'choice', 'choices', 'choose', 'chris', 'christian', 'christmas', 'church', 'cities', 'city', 'civil', 'claim', 'claims', 'class', 'classic', 'clean', 'clear', 'click', 'climate', 'clinton', 'close', 'coast', 'coffee', 'colbert', 'cold', 'collection', 'college', 'color', 'come', 'comedy', 'comes', 'coming', 'comments', 'committee', 'common', 'communities', 'community', 'companies', 'company', 'completely', 'congress', 'conservative', 'consider', 'continue', 'continues', 'control', 'controversial', 'conversation', 'cooking', 'cool', 'cops', 'cost', 'costs', 'could', 'couldnt', 'countries', 'country', 'couple', 'couples', 'course', 'court', 'cover', 'crazy', 'cream', 'create', 'created', 'creating', 'creative', 'credit', 'crime', 'crisis', 'critical', 'cruz', 'culture', 'cup', 'current', 'cut', 'cute', 'dad', 'dads', 'daily', 'dance', 'dangerous', 'dark', 'data', 'date', 'dating', 'daughter', 'daughters', 'david', 'day', 'days', 'dc', 'de', 'dead', 'deadly', 'deal', 'dear', 'death', 'debate', 'debt', 'decades', 'decided', 'decision', 'deep', 'defense', 'definitely', 'delicious', 'democratic', 'democrats', 'department', 'depression', 'design', 'designer', 'despite', 'details', 'development', 'did', 'didnt', 'die', 'died', 'dies', 'diet', 'difference', 'different', 'difficult', 'digital', 'dinner', 'director', 'disease', 'disney', 'divorce', 'diy', 'do', 'doctor', 'doctors', 'does', 'doesnt', 'dog', 'dogs', 'doing', 'donald', 'done', 'dont', 'door', 'down', 'dr', 'dream', 'dreams', 'dress', 'drink', 'drinking', 'drive', 'drug', 'drugs', 'due', 'during', 'each', 'earlier', 'early', 'earth', 'easier', 'east', 'easy', 'eat', 'eating', 'economic', 'economy', 'education', 'effect', 'effects', 'effort', 'efforts', 'either', 'election', 'elizabeth', 'else', 'email', 'emotional', 'employees', 'end', 'energy', 'enjoy', 'enough', 'entire', 'episode', 'equality', 'especially', 'europe', 'even', 'event', 'events', 'ever', 'every', 'everyone', 'everything', 'everywhere', 'evidence', 'exactly', 'executive', 'exercise', 'expect', 'expected', 'experience', 'experiences', 'experts', 'explain', 'explains', 'extra', 'eye', 'eyes', 'face', 'facebook', 'faces', 'facing', 'fact', 'facts', 'fail', 'fair', 'faith', 'fake', 'fall', 'families', 'family', 'famous', 'fan', 'fans', 'far', 'fashion', 'fast', 'fat', 'father', 'fathers', 'favorite', 'fbi', 'fear', 'federal', 'feel', 'feeling', 'feelings', 'feels', 'felt', 'female', 'festival', 'few', 'field', 'fight', 'fighting', 'film', 'final', 'finally', 'financial', 'find', 'finding', 'finds', 'fine', 'fire', 'fired', 'first', 'fit', 'fitness', 'five', 'fix', 'flight', 'florida', 'focus', 'follow', 'following', 'food', 'foods', 'football', 'for', 'force', 'forces', 'foreign', 'forever', 'forget', 'form', 'former', 'forward', 'found', 'four', 'fox', 'free', 'freedom', 'french', 'fresh', 'friday', 'friend', 'friends', 'from', 'front', 'full', 'fun', 'funny', 'further', 'future', 'game', 'games', 'gave', 'gay', 'gender', 'general', 'generation', 'george', 'get', 'gets', 'getting', 'gift', 'gifts', 'girl', 'girls', 'give', 'given', 'gives', 'giving', 'global', 'go', 'goal', 'goals', 'god', 'goes', 'going', 'gold', 'golden', 'gone', 'good', 'google', 'gop', 'gorgeous', 'got', 'government', 'governor', 'gps', 'great', 'greatest', 'green', 'ground', 'group', 'groups', 'grow', 'growing', 'growth', 'guide', 'gun', 'guns', 'guy', 'guys', 'habits', 'had', 'hair', 'half', 'halloween', 'hand', 'hands', 'happen', 'happened', 'happens', 'happiness', 'happy', 'harassment', 'hard', 'harry', 'has', 'hate', 'have', 'havent', 'having', 'he', 'head', 'health', 'healthy', 'hear', 'heard', 'heart', 'held', 'hell', 'help', 'helped', 'helping', 'helps', 'her', 'here', 'heres', 'hes', 'high', 'higher', 'hilarious', 'hill', 'hillary', 'him', 'himself', 'his', 'historic', 'history', 'hit', 'hits', 'hold', 'holiday', 'holidays', 'hollywood', 'home', 'homeless', 'homes', 'honor', 'hope', 'hopes', 'hospital', 'host', 'hot', 'hotel', 'hotels', 'hours', 'house', 'how', 'however', 'huffpost', 'huge', 'human', 'hundreds', 'hurricane', 'hurt', 'husband', 'ice', 'id', 'idea', 'ideas', 'if', 'ill', 'illness', 'im', 'image', 'images', 'imagine', 'immigration', 'impact', 'important', 'improve', 'in', 'include', 'including', 'increase', 'incredible', 'industry', 'information', 'inner', 'inside', 'inspiration', 'inspired', 'instagram', 'instead', 'insurance', 'interest', 'international', 'internet', 'interview', 'into', 'investigation', 'involved', 'iran', 'iraq', 'is', 'isis', 'island', 'isnt', 'israel', 'issue', 'issues', 'it', 'its', 'itself', 'ive', 'james', 'jeff', 'jenner', 'jennifer', 'jessica', 'jimmy', 'job', 'jobs', 'joe', 'john', 'join', 'jones', 'journey', 'joy', 'judge', 'july', 'june', 'just', 'justice', 'justin', 'kardashian', 'kate', 'keep', 'keeping', 'kelly', 'key', 'kid', 'kids', 'kill', 'killed', 'killing', 'kim', 'kind', 'king', 'kitchen', 'knew', 'know', 'known', 'knows', 'korea', 'la', 'labor', 'lack', 'lady', 'land', 'large', 'largest', 'last', 'late', 'later', 'latest', 'law', 'lawmakers', 'laws', 'lawsuit', 'lawyer', 'lead', 'leader', 'leaders', 'leadership', 'leading', 'learn', 'learned', 'learning', 'least', 'leave', 'leaves', 'leaving', 'led', 'left', 'legacy', 'legal', 'less', 'lesson', 'lessons', 'let', 'lets', 'letter', 'level', 'lgbt', 'lgbtq', 'life', 'light', 'like', 'likely', 'line', 'linked', 'list', 'listen', 'little', 'live', 'lives', 'living', 'local', 'london', 'long', 'longer', 'look', 'looked', 'looking', 'looks', 'los', 'lose', 'losing', 'loss', 'lost', 'lot', 'love', 'loved', 'loves', 'loving', 'low', 'lower', 'made', 'magazine', 'magic', 'major', 'majority', 'make', 'makes', 'makeup', 'making', 'male', 'man', 'many', 'march', 'mark', 'market', 'marriage', 'married', 'martin', 'mass', 'massive', 'matter', 'matters', 'may', 'maybe', 'me', 'mean', 'meaning', 'means', 'media', 'medical', 'medicine', 'meditation', 'meet', 'meeting', 'members', 'men', 'mental', 'message', 'met', 'mexico', 'michael', 'michelle', 'middle', 'might', 'mike', 'military', 'million', 'millions', 'mind', 'minutes', 'miss', 'missing', 'mistakes', 'model', 'models', 'modern', 'mom', 'moment', 'moments', 'moms', 'monday', 'money', 'month', 'months', 'more', 'morning', 'most', 'mother', 'mothers', 'move', 'movement', 'movie', 'movies', 'moving', 'much', 'murder', 'music', 'muslim', 'must', 'my', 'myself', 'name', 'named', 'names', 'nation', 'national', 'nations', 'natural', 'nature', 'near', 'nearly', 'need', 'needed', 'needs', 'network', 'never', 'new', 'news', 'next', 'nfl', 'nice', 'night', 'no', 'nominee', 'normal', 'north', 'not', 'note', 'nothing', 'november', 'now', 'nuclear', 'number', 'numbers', 'obama', 'obamacare', 'obamas', 'of', 'off', 'offer', 'offers', 'office', 'officer', 'officers', 'official', 'officials', 'often', 'oh', 'oil', 'ok', 'old', 'older', 'olympic', 'olympics', 'on', 'once', 'one', 'ones', 'online', 'only', 'open', 'opening', 'opens', 'opportunity', 'options', 'or', 'order', 'oscar', 'oscars', 'other', 'others', 'our', 'ourselves', 'out', 'outside', 'over', 'own', 'paid', 'pain', 'paper', 'parent', 'parenting', 'parents', 'paris', 'park', 'part', 'partner', 'party', 'pass', 'past', 'path', 'patients', 'paul', 'pay', 'peace', 'people', 'percent', 'perfect', 'performance', 'perhaps', 'person', 'personal', 'phone', 'photo', 'photos', 'physical', 'pick', 'picture', 'piece', 'pinterest', 'place', 'places', 'plan', 'plane', 'planet', 'planned', 'planning', 'plans', 'play', 'player', 'players', 'playing', 'please', 'plenty', 'point', 'points', 'police', 'policy', 'political', 'politics', 'poll', 'poor', 'pop', 'pope', 'popular', 'positive', 'possible', 'post', 'potential', 'pounds', 'power', 'powerful', 'practice', 'pregnancy', 'pregnant', 'present', 'president', 'presidential', 'presidents', 'press', 'pressure', 'pretty', 'prevent', 'price', 'primary', 'prince', 'princess', 'prison', 'private', 'probably', 'problem', 'problems', 'process', 'products', 'program', 'project', 'promise', 'proposal', 'protect', 'protest', 'prove', 'provide', 'public', 'published', 'push', 'put', 'putting', 'quality', 'queen', 'queer', 'question', 'questions', 'quick', 'quickly', 'quite', 'race', 'racist', 'raise', 'raising', 'rape', 'rare', 'rate', 'rather', 'reach', 'read', 'reading', 'ready', 'real', 'reality', 'realize', 'really', 'reason', 'reasons', 'received', 'recent', 'recently', 'recipe', 'recipes', 'record', 'red', 'reform', 'refugees', 'relationship', 'relationships', 'release', 'released', 'religious', 'remember', 'rep', 'report', 'reported', 'reportedly', 'reports', 'republican', 'republicans', 'research', 'researchers', 'respect', 'response', 'responsibility', 'rest', 'restaurant', 'result', 'results', 'return', 'reuters', 'reveals', 'review', 'rich', 'ride', 'right', 'rights', 'ring', 'rise', 'risk', 'road', 'robert', 'rock', 'role', 'room', 'round', 'roundup', 'rule', 'rules', 'run', 'running', 'russia', 'russian', 'ryan', 'sad', 'safe', 'safety', 'said', 'same', 'san', 'sanders', 'saturday', 'save', 'saw', 'say', 'saying', 'says', 'scandal', 'scene', 'school', 'schools', 'science', 'scientists', 'scott', 'sea', 'search', 'season', 'second', 'secret', 'secretary', 'secrets', 'security', 'see', 'seeing', 'seem', 'seems', 'seen', 'self', 'sen', 'senate', 'senator', 'send', 'sense', 'sent', 'series', 'serious', 'seriously', 'serve', 'service', 'set', 'seven', 'several', 'sex', 'sexual', 'share', 'shared', 'shares', 'she', 'shes', 'shoes', 'shooting', 'shop', 'shopping', 'short', 'shot', 'should', 'shouldnt', 'show', 'shows', 'sick', 'side', 'sign', 'signs', 'similar', 'simple', 'simply', 'since', 'singer', 'single', 'site', 'situation', 'six', 'skin', 'sleep', 'slideshow', 'small', 'smart', 'smith', 'snl', 'so', 'social', 'society', 'some', 'someone', 'something', 'sometimes', 'son', 'song', 'soon', 'soul', 'sound', 'sounds', 'south', 'space', 'speak', 'special', 'speech', 'spend', 'spending', 'spent', 'spirit', 'spiritual', 'sports', 'spot', 'spring', 'st', 'staff', 'stage', 'stand', 'star', 'stars', 'start', 'started', 'starting', 'state', 'statement', 'states', 'stay', 'step', 'stephen', 'steps', 'steve', 'still', 'stop', 'store', 'stories', 'storm', 'story', 'straight', 'strategy', 'street', 'stress', 'strong', 'struggle', 'student', 'students', 'study', 'stuff', 'stunning', 'style', 'success', 'successful', 'such', 'sugar', 'suggests', 'suicide', 'summer', 'sunday', 'super', 'support', 'supporters', 'supreme', 'sure', 'surprise', 'surprising', 'survey', 'suspect', 'sweet', 'syria', 'system', 'table', 'take', 'taken', 'takes', 'taking', 'talk', 'talking', 'talks', 'taste', 'taught', 'tax', 'taylor', 'teach', 'teacher', 'teachers', 'team', 'tech', 'technology', 'ted', 'teen', 'teens', 'tell', 'telling', 'tells', 'test', 'texas', 'than', 'thank', 'thanks', 'thanksgiving', 'that', 'thats', 'the', 'their', 'them', 'themselves', 'then', 'there', 'theres', 'these', 'they', 'theyre', 'thing', 'things', 'think', 'thinking', 'thinks', 'third', 'this', 'those', 'though', 'thought', 'thoughts', 'thousands', 'threat', 'three', 'through', 'throughout', 'thursday', 'time', 'times', 'tips', 'to', 'today', 'todays', 'together', 'told', 'tom', 'too', 'took', 'top', 'totally', 'touch', 'tough', 'tour', 'toward', 'town', 'track', 'trade', 'trailer', 'train', 'training', 'trans', 'transgender', 'travel', 'travelers', 'traveling', 'treat', 'treatment', 'trend', 'trends', 'tribute', 'tried', 'trip', 'true', 'truly', 'trump', 'trumps', 'trust', 'truth', 'try', 'trying', 'tuesday', 'tumblr', 'turkey', 'turn', 'turned', 'turning', 'turns', 'tv', 'tweet', 'tweets', 'twitter', 'two', 'type', 'ultimate', 'un', 'under', 'understand', 'understanding', 'union', 'unique', 'united', 'university', 'until', 'up', 'update', 'upon', 'us', 'use', 'used', 'uses', 'using', 'usually', 'vacation', 'valentines', 'value', 'version', 'very', 'victims', 'victory', 'video', 'videos', 'view', 'vintage', 'violence', 'visit', 'voice', 'vote', 'voters', 'voting', 'vs', 'wait', 'waiting', 'wake', 'walk', 'walking', 'wall', 'want', 'wanted', 'wants', 'war', 'warm', 'wars', 'was', 'washington', 'wasnt', 'watch', 'watching', 'water', 'way', 'ways', 'we', 'wear', 'wearing', 'weather', 'wedding', 'weddings', 'wednesday', 'week', 'weekend', 'weekly', 'weeks', 'weight', 'weird', 'welcome', 'well', 'went', 'were', 'west', 'weve', 'what', 'whatever', 'whats', 'when', 'where', 'whether', 'which', 'while', 'white', 'who', 'whole', 'whos', 'whose', 'why', 'wife', 'wild', 'will', 'williams', 'win', 'wine', 'wins', 'winter', 'wisdom', 'wish', 'with', 'within', 'without', 'woman', 'women', 'womens', 'won', 'wonder', 'wont', 'word', 'words', 'work', 'workers', 'working', 'workout', 'works', 'world', 'worlds', 'worry', 'worse', 'worst', 'worth', 'would', 'wouldnt', 'write', 'writing', 'wrong', 'wrote', 'year', 'years', 'yes', 'yet', 'yoga', 'york', 'you', 'youll', 'young', 'your', 'youre', 'yourself', 'youth', 'youve']


X1 :
 [[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [58]:
X_tfidf_df = pd.DataFrame(X_tfidf.toarray(), columns=features)

In [59]:
X_tfidf_df

,10 of the,10 things you,10 ways to,20 funniest tweets,247 wall st,4th of july,about donald trump,about how to,about them in,according to new,...,your life and,your new years,your wedding day,your weekly travel,your wellbeing off,youre going to,youre looking for,youre looking to,youtube videos of,youve never seen
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200850,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
200852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
X=X_tfidf_df
y=df.category

In [61]:
scaler = StandardScaler()

In [62]:
X_scaled = scaler.fit(X)

In [63]:
X_tr, X_test, y_tr, y_test = train_test_split(X, y, test_size=20, random_state=3)

In [64]:
X_train, X_val, y_train, y_val = train_test_split(X_tr, y_tr, test_size=20, random_state=3)

In [65]:
y_train.value_counts()

LIFESTYLE AND WELLNESS          40609
POLITICS                        32730
SPORTS AND ENTERTAINMENT        30291
TRAVEL-TOURISM & ART-CULTURE    20571
EMPOWERED VOICES                15458
PARENTING AND EDUCATION         14778
MISC                            12447
GENERAL                          9661
WORLDNEWS                        8420
BUSINESS-MONEY                   7644
SCIENCE AND TECH                 4259
ENVIRONMENT                      3945
Name: category, dtype: int64

In [43]:
pipe1 = make_pipeline(SMOTE(random_state=3),DecisionTreeClassifier())

In [44]:
pipe2 = make_pipeline(SMOTE(random_state=3),RandomForestClassifier())

In [45]:
pipe3 = make_pipeline(SMOTE(random_state=3),LogisticRegression())

In [46]:
sm= SMOTE(random_state=2021)

In [47]:
# X_train_res, y_train_res = sm.fit_resample(X_train, y_train)
# X_val_res, y_val_res = sm.fit_resample(X_val, y_val)

# Modeling

In [76]:
def modeling_function(model, X_train, y_train, X_val, y_val):
    
    
    # fit model on training data
    model.fit(X_train, y_train)

    # make predictions on training and validation data
    train_preds = model.predict(X_train)
    val_preds = model.predict(X_val)
    
    # Print accuracy score
    print('Training accuracy: ', accuracy_score(y_train, train_preds))
    print('Validation accuracy: ', accuracy_score(y_val, val_preds))

    # return fitted model
    return model

In [77]:
dt = DecisionTreeClassifier(random_state=2021)

In [50]:
dt = modeling_function(dt, X_train, y_train, X_val, y_val)

Training accuracy:  0.3102488384716129
Validation accuracy:  0.2

In [51]:
rf=RandomForestClassifier(random_state=2021)

In [52]:
rf = modeling_function(rf, X_train, y_train, X_val, y_val)

KeyboardInterrupt:

In [78]:
logreg=LogisticRegression(max_iter=1000)

In [79]:
logreg = modeling_function(logreg, X_train, y_train, X_val, y_val)

Training accuracy:  0.29120624660754035
Validation accuracy:  0.3

In [ ]:
clf = MultinomialNB()

In [ ]:
clf=modeling_function(clf, X_train, y_train, X_val, y_val)

In [80]:
logreg2 = LogisticRegression(solver='liblinear')

In [81]:
logreg2 = modeling_function(logreg2, X_train, y_train, X_val, y_val)

Training accuracy:  0.2908576635974763
Validation accuracy:  0.3