<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc">
    <ul class="toc-item">
    <li><span><a href="#Cleaning the Data" data-toc-modified-id="Cleaning the Data">
        <span class="toc-item-num">1&nbsp;&nbsp;</span>Cleaning the Data</a></span>    
    <ul class="toc-item">
        <li><span><a href="#Importing the Data" data-toc-modified-id="Importing the Data-1.1">
            <span class="toc-item-num">1.1&nbsp;&nbsp;</span>Importing the Data</a></span></li></ul></li>
        <li><span><a href="#Inspecting the data" data-toc-modified-id="Inspecting the data">
            <span class="toc-item-num">2&nbsp;&nbsp;</span>Inspecting the data</a></span>        
    <ul class="toc-item">
        <li><span><a href="#Activation-functions-(from-before)" data-toc-modified-id="Activation-functions-(from-before)-2.1">
              <span class="toc-item-num">2.1&nbsp;&nbsp;</span>Activation functions (from before)</a></span>  
    <ul class="toc-item">
        <li><span><a href="#Recall-what-an-activation-function-does" data-toc-modified-id="Recall-what-an-activation-function-does-2.1.1">
              <span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Recall what an activation function does</a></span></li>
        <li><span><a href="#Using-the-proper-activation" data-toc-modified-id="Using-the-proper-activation-2.1.2">
              <span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Using the proper activation</a></span></li></ul></li>
        <li><span><a href="#Random-Starts" data-toc-modified-id="Random-Starts-2.2">
              <span class="toc-item-num">2.2&nbsp;&nbsp;</span>Random Starts</a></span></li>
        <li><span><a href="#Momentum" data-toc-modified-id="Momentum-2.3">
              <span class="toc-item-num">2.3&nbsp;&nbsp;</span>Momentum</a></span>           
    <ul class="toc-item">
        <li><span><a href="#Solution?--Give-it-some-speed-ðŸ˜Ž" data-toc-modified-id="Solution?--Give-it-some-speed-ðŸ˜Ž-2.3.1">
              <span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Solution?  Give it some speed ðŸ˜Ž</a></span><ul class="toc-item">
        <li><span><a href="#Code-Implementation" data-toc-modified-id="Code-Implementation-2.3.1.1">
              <span class="toc-item-num">2.3.1.1&nbsp;&nbsp;</span>Code Implementation</a></span></li></ul></li></ul></li></ul></li>
        <li><span><a href="#Make-it-Go-Faster-with-Optimizers!" data-toc-modified-id="Make-it-Go-Faster-with-Optimizers!-3">
              <span class="toc-item-num">3&nbsp;&nbsp;</span>Make it Go Faster with Optimizers!</a></span>            
    <ul class="toc-item">
        <li><span><a href="#Normalization-(Batch-Normalization)" data-toc-modified-id="Normalization-(Batch-Normalization)-3.1">
            <span class="toc-item-num">3.1&nbsp;&nbsp;</span>Normalization (Batch Normalization)</a></span></li>
        <li><span><a href="#Stochastic-Gradient-Descent" data-toc-modified-id="Stochastic-Gradient-Descent-3.2">
            <span class="toc-item-num">3.2&nbsp;&nbsp;</span>Stochastic Gradient Descent</a></span><ul class="toc-item">
        <li><span><a href="#Steps" data-toc-modified-id="Steps-3.2.1">
            <span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Steps</a></span></li></ul></li>
        <li><span><a href="#AdaGrad-&amp;-RMSProp" data-toc-modified-id="AdaGrad-&amp;-RMSProp-3.3">
            <span class="toc-item-num">3.3&nbsp;&nbsp;</span>AdaGrad &amp; RMSProp</a></span>                        
    <ul class="toc-item">
        <li><span><a href="#Code-Example" data-toc-modified-id="Code-Example-3.3.1">
            <span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Code Example</a></span></li></ul></li>
        <li><span><a href="#Adam-(Adaptivr-Moment-Estimation)-Optimization-and-Other-Variants" data-toc-modified-id="Adam-(Adaptivr-Moment-
                          Estimation)-Optimization-and-Other-Variants-3.4">
            <span class="toc-item-num">3.4&nbsp;&nbsp;</span>Adam (Adaptivr Moment Estimation) Optimization and Other Variants</a></span></li>          <li><span><a href="#Learning-Rate-Decay" data-toc-modified-id="Learning-Rate-Decay-3.5">
            <span class="toc-item-num">3.5&nbsp;&nbsp;</span>Learning Rate Decay</a></span><ul class="toc-item">
        <li><span><a href="#Solution?" data-toc-modified-id="Solution?-3.5.1">
            <span class="toc-item-num">3.5.1&nbsp;&nbsp;</span>Solution?</a></span></li>
        <li><span><a href="#Code-Example" data-toc-modified-id="Code-Example-3.5.2">
            <span class="toc-item-num">3.5.2&nbsp;&nbsp;</span>Code Example</a></span></li>
</ul>
</li>
        
</ul>
</li>
        
</ul>
    
</div>

# Cleaning the Data

Importing the Data

In [133]:
import json
import pandas as pd 

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline 
plt.style.use('fivethirtyeight')
import nltk # importing Natural Landuage Processing Toolit

from nltk.corpus import stopwords #importing stop words to remove non-necissary words
from nltk.tokenize import word_tokenize, sent_tokenize 
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import f1_score, confusion_matrix, get_scorer
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from imblearn.over_sampling import SMOTE
from imblearn.pipeline import make_pipeline


import re 
import nltk
import string


raw_data = pd.read_json('../../../data/data.json', lines=True)

raw_data.head(5)

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

# Inspecting the data

In [2]:
#inspecting the data types - Noticed that they're all objects 
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200853 entries, 0 to 200852
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   category           200853 non-null  object
 1   headline           200853 non-null  object
 2   authors            200853 non-null  object
 3   link               200853 non-null  object
 4   short_description  200853 non-null  object
 5   date               200853 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 9.2+ MB

In [3]:
#checking For Null Values
raw_data.isna().sum()

category             0
headline             0
authors              0
link                 0
short_description    0
date                 0
dtype: int64

In [4]:
#reassigning dataframe to df to uphold the original structure of the data - used for later references.
df = raw_data.copy()

df.head()

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

---

# Preprocessing the Data for Feature Engineering

### Removing Punctuation and cleaning rows

**Short Description Feature**

In [5]:
df.short_description

0         She left her husband. He killed their children...
1                                  Of course it has a song.
2         The actor and his longtime girlfriend Anna Ebe...
3         The actor gives Dems an ass-kicking for not fi...
4         The "Dietland" actress said using the bags is ...
                                ...
200848    Verizon Wireless and AT&T are already promotin...
200849    Afterward, Azarenka, more effusive with the pr...
200850    Leading up to Super Bowl XLVI, the most talked...
200851    CORRECTION: An earlier version of this story i...
200852    The five-time all-star center tore into his te...
Name: short_description, Length: 200853, dtype: object

In [6]:
df.headline

0         There Were 2 Mass Shootings In Texas Last Week...
1         Will Smith Joins Diplo And Nicky Jam For The 2...
2           Hugh Grant Marries For The First Time At Age 57
3         Jim Carrey Blasts 'Castrato' Adam Schiff And D...
4         Julianna Margulies Uses Donald Trump Poop Bags...
                                ...
200848    RIM CEO Thorsten Heins' 'Significant' Plans Fo...
200849    Maria Sharapova Stunned By Victoria Azarenka I...
200850    Giants Over Patriots, Jets Over Colts Among  M...
200851    Aldon Smith Arrested: 49ers Linebacker Busted ...
200852    Dwight Howard Rips Teammates After Magic Loss ...
Name: headline, Length: 200853, dtype: object

**Removing Casing and punctuaton**

In [7]:

#Removing punctuation. It helps us reduce the size of the data 
df['short_description'] = df['short_description'].str.lower().str.replace('[^\w\s]','')
print(df['short_description'].head(5))

print('\n============================================================')

df['headline'] = df['headline'].str.lower().str.replace('[^\w\s]','')
print('\n', df['headline'].head(5))

0    she left her husband he killed their children ...
1                              of course it has a song
2    the actor and his longtime girlfriend anna ebe...
3    the actor gives dems an asskicking for not fig...
4    the dietland actress said using the bags is a ...
Name: short_description, dtype: object

============================================================

 0    there were 2 mass shootings in texas last week...
1    will smith joins diplo and nicky jam for the 2...
2      hugh grant marries for the first time at age 57
3    jim carrey blasts castrato adam schiff and dem...
4    julianna margulies uses donald trump poop bags...
Name: headline, dtype: object

**Merging Description and Headline together**

* checking lengths

In [8]:
len(df.short_description[1])

23

In [9]:
len(df.headline[1])

74

In [10]:
#merging
df['head_description'] = df.headline + ' ' + df.short_description
len(df.head_description[1])

98

### **Removing Non-Contributional Words from the Dataset**

In [11]:
#downloading stopwords to use
nltk.download('stopwords')

stop = stopwords.words('english')

#inspecting stop words 
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/chandler_oneal/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
#how many stop words do we have? 
df['stopwords'] = df['head_description'].apply(lambda x: len([x for x in x.split() if x in stop]))
df[['head_description','stopwords']].head()

                                    head_description  stopwords
0  there were 2 mass shootings in texas last week...         12
1  will smith joins diplo and nicky jam for the 2...          8
2  hugh grant marries for the first time at age 5...          9
3  jim carrey blasts castrato adam schiff and dem...          7
4  julianna margulies uses donald trump poop bags...          8

In [13]:
# inspecting stop words column to identify the number of unnecissary words within each column
df.head(2)

,category,headline,authors,link,short_description,date,head_description,stopwords
0,CRIME,there were 2 mass shootings in texas last week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,she left her husband he killed their children ...,2018-05-26,there were 2 mass shootings in texas last week...,12
1,ENTERTAINMENT,will smith joins diplo and nicky jam for the 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,of course it has a song,2018-05-26,will smith joins diplo and nicky jam for the 2...,8

**Removing Stop Words**

In [14]:
#removing stopwords 
df['clean_head_description'] = df['head_description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [15]:
df['clean_head_description'].head()

0    2 mass shootings texas last week 1 tv left hus...
1    smith joins diplo nicky jam 2018 world cups of...
2    hugh grant marries first time age 57 actor lon...
3    jim carrey blasts castrato adam schiff democra...
4    julianna margulies uses donald trump poop bags...
Name: clean_head_description, dtype: object

### Tokenizing the Text to Up Sentences Into a List of Words:

* **splitting a phrase, sentence, paragraph, or an entire text document into smaller units, such as individual words or terms. Each of these smaller units are called tokens.**

### Lemmitizing the data to reduce repitition by removing the affixes

In [16]:
#instantiating a lemmatizer
lemma = WordNetLemmatizer() #instantiate

In [17]:
#removing affixes from all words
def lemm_words(data):
    tokens = word_tokenize(data)   #Tokenizing data 
    lemmed_tokens = [lemma.lemmatize(word) for word in tokens]   #lemmatizing data
    return ' '.join(lemmed_tokens)

In [18]:
lemmed = df.head_description.apply(lemm_words)

In [19]:
l = lemmed                              #there were 2 mass shooting in texas last week

In [20]:
#changing series into a list of lists 
df['unique_word'] = l.str.split(' ')   # [there, were, 2, mass, shooting, in, texas, la

In [21]:
df[['unique_word']]

                                              unique_word
0       [there, were, 2, mass, shooting, in, texas, la...
1       [will, smith, join, diplo, and, nicky, jam, fo...
2       [hugh, grant, marries, for, the, first, time, ...
3       [jim, carrey, blast, castrato, adam, schiff, a...
4       [julianna, margulies, us, donald, trump, poop,...
...                                                   ...
200848  [rim, ceo, thorsten, heins, significant, plan,...
200849  [maria, sharapova, stunned, by, victoria, azar...
200850  [giant, over, patriot, jet, over, colt, among,...
200851  [aldon, smith, arrested, 49ers, linebacker, bu...
200852  [dwight, howard, rip, teammate, after, magic, ...

[200853 rows x 1 columns]

### **Creating a Bag of Words for Vectorization**

In [21]:
# list containing all words 

unique_lemmed_list = []                #the  (appears ->)  261830
for x in df['unique_word']:  
    unique_lemmed_list += x  # append elements of lists to full list

* **Removing Single Characters**

In [22]:
#inspecting the original number of words
len(unique_lemmed_list)

5855301

In [23]:
#looping through and adding words > len(1) to a new list 
full_words = [] # creating quotes 
index = 0
for words in unique_lemmed_list: 
    if len(words) > 1:
        full_words.append(words)

In [24]:
#checking the NEW number of words after removal
len(full_words)

5621546

* **Changing New Bag of Words into a Series for TF-IDF**

In [25]:
word_value_counts = pd.Series(full_words).value_counts()
word_value_counts

the          261830
to           163957
of           128119
and          119623
in            95541
              ...
samabaj           1
beeeswax          1
aeropress         1
neutra            1
gellman           1
Length: 102078, dtype: int64

In [26]:
plot = pd.DataFrame(data = word_value_counts).reset_index()
plot.columns = ['word','count']
plot.head()

  word   count
0  the  261830
1   to  163957
2   of  128119
3  and  119623
4   in   95541

# Feature Engineering

### to do --- calculating sentament of text

**Merging Similar Columns:**

In [90]:
df.head(1)

,category,headline,authors,link,short_description,date,head_description,stopwords,clean_head_description,unique_word
0,GENERAL,there were 2 mass shootings in texas last week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,she left her husband he killed their children ...,2018-05-26,there were 2 mass shootings in texas last week...,12,2 mass shootings texas last week 1 tv left hus...,"[there, were, 2, mass, shooting, in, texas, la..."

* **Visualizing current columns**

In [93]:
#total number of categories
print('# of categories:', df.category.value_counts().nunique())

print('\n\nListing Categories:', df.category.value_counts())

# of categories: 12


Listing Categories: LIFESTYLE AND WELLNESS          40619
POLITICS                        32739
SPORTS AND ENTERTAINMENT        30296
TRAVEL-TOURISM & ART-CULTURE    20578
EMPOWERED VOICES                15461
PARENTING AND EDUCATION         14780
MISC                            12448
GENERAL                          9663
WORLDNEWS                        8420
BUSINESS-MONEY                   7644
SCIENCE AND TECH                 4260
ENVIRONMENT                      3945
Name: category, dtype: int64

* **Combining columns**

In [89]:
categories = df['category'].value_counts().index
categories

Index(['LIFESTYLE AND WELLNESS', 'POLITICS', 'SPORTS AND ENTERTAINMENT',
       'TRAVEL-TOURISM & ART-CULTURE', 'EMPOWERED VOICES',
       'PARENTING AND EDUCATION', 'MISC', 'GENERAL', 'WORLDNEWS',
       'BUSINESS-MONEY', 'SCIENCE AND TECH', 'ENVIRONMENT'],
      dtype='object')

In [78]:
def groupper(grouplist,name):
    for idx in categories: #for each category name 
        if idx in grouplist: #if the category name appears in the grouplist below 
            df.loc[df['category'] == idx, 'category'] = name  #assign it to name = " "



groupper( grouplist= ['WELLNESS', 'HEALTHY LIVING','HOME & LIVING','STYLE & BEAUTY' ,'STYLE'] , name =  'LIFESTYLE AND WELLNESS')
groupper( grouplist= [ 'PARENTING', 'PARENTS' ,'EDUCATION' ,'COLLEGE'] , name =  'PARENTING AND EDUCATION')
groupper( grouplist= ['SPORTS','ENTERTAINMENT' , 'COMEDY','WEIRD NEWS','ARTS'] , name =  'SPORTS AND ENTERTAINMENT')
groupper( grouplist= ['TRAVEL', 'ARTS & CULTURE','CULTURE & ARTS','FOOD & DRINK', 'TASTE'] , name =  'TRAVEL-TOURISM & ART-CULTURE')
groupper( grouplist= ['WOMEN','QUEER VOICES', 'LATINO VOICES', 'BLACK VOICES'] , name =  'EMPOWERED VOICES')
groupper( grouplist= ['BUSINESS' ,  'MONEY'] , name =  'BUSINESS-MONEY')
groupper( grouplist= ['THE WORLDPOST' , 'WORLDPOST' , 'WORLD NEWS'] , name =  'WORLDNEWS')
groupper( grouplist= ['ENVIRONMENT' ,'GREEN'] , name =  'ENVIRONMENT')
groupper( grouplist= ['TECH', 'SCIENCE'] , name =  'SCIENCE AND TECH')
groupper( grouplist= ['FIFTY' , 'IMPACT' ,'GOOD NEWS','CRIME'] , name =  'GENERAL')
groupper( grouplist= ['WEDDINGS', 'DIVORCE',  'RELIGION','MEDIA'] , name =  'MISC')

* **Inspecting new columns**

In [101]:
#inspecting newly combined categories
print('# of categories:', df.category.value_counts().nunique())
print('\n\nListing Categories:', df.category.value_counts())

# of categories: 12


Listing Categories: LIFESTYLE AND WELLNESS          40619
POLITICS                        32739
SPORTS AND ENTERTAINMENT        30296
TRAVEL-TOURISM & ART-CULTURE    20578
EMPOWERED VOICES                15461
PARENTING AND EDUCATION         14780
MISC                            12448
GENERAL                          9663
WORLDNEWS                        8420
BUSINESS-MONEY                   7644
SCIENCE AND TECH                 4260
ENVIRONMENT                      3945
Name: category, dtype: int64

### **TF - IDF**

**Term Frequency â€” Inverse Document Frequency** - Derermining word importance to documents

* **Vectorizing the (title description + full description) column (converting it into numeric data).**

In [28]:
#creating a function to pass into the analyzer to clean the raw data 
    
def clean_history(history):
    history = "".join([word for word in history if word not in string.punctuation])
    tokens = re.split('\W+', history)
    history = [wn.lemmatize(word) for word in tokens if word not in stopwords]
    return history

In [150]:
# Returning Trigrams - Groups of Three Words
tfidf_vectorizer = TfidfVectorizer(max_features=200)

In [151]:
X_tfidf = tfidf_vectorizer.fit_transform(df['head_description'])
features = (tfidf_vectorizer.get_feature_names())

In [175]:
features

['10',
 'about',
 'after',
 'against',
 'all',
 'also',
 'american',
 'an',
 'and',
 'another',
 'any',
 'are',
 'around',
 'as',
 'at',
 'back',
 'be',
 'because',
 'been',
 'before',
 'being',
 'best',
 'better',
 'big',
 'black',
 'but',
 'by',
 'can',
 'cant',
 'care',
 'change',
 'children',
 'come',
 'could',
 'day',
 'days',
 'did',
 'do',
 'does',
 'doesnt',
 'donald',
 'dont',
 'down',
 'during',
 'even',
 'ever',
 'every',
 'family',
 'feel',
 'find',
 'first',
 'food',
 'for',
 'from',
 'get',
 'go',
 'going',
 'good',
 'got',
 'great',
 'had',
 'has',
 'have',
 'he',
 'health',
 'help',
 'her',
 'here',
 'him',
 'his',
 'home',
 'house',
 'how',
 'huffpost',
 'if',
 'im',
 'in',
 'into',
 'is',
 'it',
 'its',
 'just',
 'kids',
 'know',
 'last',
 'life',
 'like',
 'little',
 'live',
 'long',
 'look',
 'love',
 'made',
 'make',
 'man',
 'many',
 'may',
 'me',
 'might',
 'more',
 'most',
 'much',
 'my',
 'need',
 'never',
 'new',
 'news',
 'no',
 'not',
 'now',
 'obama',
 'of',
 'off',
 'on',
 'one',
 'only',
 'or',
 'other',
 'our',
 'out',
 'over',
 'own',
 'parents',
 'part',
 'people',
 'photos',
 'president',
 'real',
 'really',
 'right',
 'said',
 'say',
 'says',
 'school',
 'see',
 'she',
 'should',
 'show',
 'so',
 'some',
 'something',
 'state',
 'still',
 'study',
 'style',
 'take',
 'than',
 'that',
 'the',
 'their',
 'them',
 'there',
 'these',
 'they',
 'thing',
 'things',
 'think',
 'this',
 'those',
 'through',
 'time',
 'to',
 'too',
 'top',
 'trump',
 'trumps',
 'two',
 'up',
 'us',
 'very',
 'video',
 'want',
 'was',
 'way',
 'ways',
 'we',
 'wedding',
 'week',
 'well',
 'were',
 'what',
 'when',
 'where',
 'which',
 'while',
 'white',
 'who',
 'why',
 'will',
 'with',
 'women',
 'work',
 'world',
 'would',
 'year',
 'years',
 'york',
 'you',
 'your',
 'youre']

SyntaxError: invalid syntax (<ipython-input-175-04fe232c3cd8>, line 1)

In [153]:
print("\n\nShape of tfidf : \n", X_tfidf.shape)


#printing out the features 
print("\n\nFeatures : \n", features)
print("\n\nX1 : \n", X_tfidf.toarray())

Shape of tfidf :
 (200853, 200)


Features :
 ['10', 'about', 'after', 'against', 'all', 'also', 'american', 'an', 'and', 'another', 'any', 'are', 'around', 'as', 'at', 'back', 'be', 'because', 'been', 'before', 'being', 'best', 'better', 'big', 'black', 'but', 'by', 'can', 'cant', 'care', 'change', 'children', 'come', 'could', 'day', 'days', 'did', 'do', 'does', 'doesnt', 'donald', 'dont', 'down', 'during', 'even', 'ever', 'every', 'family', 'feel', 'find', 'first', 'food', 'for', 'from', 'get', 'go', 'going', 'good', 'got', 'great', 'had', 'has', 'have', 'he', 'health', 'help', 'her', 'here', 'him', 'his', 'home', 'house', 'how', 'huffpost', 'if', 'im', 'in', 'into', 'is', 'it', 'its', 'just', 'kids', 'know', 'last', 'life', 'like', 'little', 'live', 'long', 'look', 'love', 'made', 'make', 'man', 'many', 'may', 'me', 'might', 'more', 'most', 'much', 'my', 'need', 'never', 'new', 'news', 'no', 'not', 'now', 'obama', 'of', 'off', 'on', 'one', 'only', 'or', 'other', 'our', 'out', 'over', 'own', 'parents', 'part', 'people', 'photos', 'president', 'real', 'really', 'right', 'said', 'say', 'says', 'school', 'see', 'she', 'should', 'show', 'so', 'some', 'something', 'state', 'still', 'study', 'style', 'take', 'than', 'that', 'the', 'their', 'them', 'there', 'these', 'they', 'thing', 'things', 'think', 'this', 'those', 'through', 'time', 'to', 'too', 'top', 'trump', 'trumps', 'two', 'up', 'us', 'very', 'video', 'want', 'was', 'way', 'ways', 'we', 'wedding', 'week', 'well', 'were', 'what', 'when', 'where', 'which', 'while', 'white', 'who', 'why', 'will', 'with', 'women', 'work', 'world', 'would', 'year', 'years', 'york', 'you', 'your', 'youre']


X1 :
 [[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.17245182 0.20298193 ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.75999926 ... 0.         0.         0.        ]]

In [154]:
X_tfidf_df = pd.DataFrame(X_tfidf.toarray(), columns=features)
# X_tfidf_df.head()

In [155]:
#inspecting values for imbalances to determine whether or not to SMOTE the data in the upcoming pipeline
X_tfidf_df.iloc[100].value_counts()

0.000000    186
0.120618      1
0.289576      1
0.133378      1
0.366437      1
0.274854      1
0.360902      1
0.246673      1
0.210798      1
0.314579      1
0.269550      1
0.169589      1
0.265686      1
0.354992      1
0.203633      1
Name: 100, dtype: int64

# Modeling

### Model Preparatition:

**Creating a function to shorten the modeling process**

In [173]:
#creating a function to pass in our model that will then return an F-1 Score
from sklearn.metrics import make_scorer, f1_score

def make_train_scorer(model, X_train, y_train, X_val, y_val):
    model.fit(X_train, y_train)
    scorer = make_scorer(f1_score, average='weighted')
    
    train_f1 = scorer(model, X_train, y_train)
    val_f1 = scorer(model, X_val, y_val)
    
    print('Train Score:', train_f1)
    print('Validation Score:', val_f1)

In [ ]:
def make_test_scorer(model, X_test y_test):    
    model.fit(X_train, y_train)
    scorer = make_scorer(f1_score, average='weighted')
    
    test_f1 = scorer(model, X_test, y_test)
    print('Test Score:', test_f1)

**Splitting the vecorized data into the variable X and the Categories into the variable y**

In [156]:
X = X_tfidf_df
y = df.category

In [157]:
X_tr, X_test, y_tr, y_test = train_test_split(X, y, random_state=3, test_size=.20)

In [158]:
X_train, X_val, y_train, y_val = train_test_split(X_tr, y_tr, random_state=3, test_size=.20)

**Rebalancing Data**

In [169]:
sm = SMOTE(random_state=3)

X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

X_val_res, y_val_res = sm.fit_resample(X_val, y_val)

In [170]:
print('X_train resampled:', X_train_res.value_counts().sum())

print('=========================')

X_train reampled: 311580
=========================

### Modeling:

**BASIC MODELS: Fitting and Returning Scores for Models**

* **Random Forest - Basic**

In [171]:
#instantiating a random forest model
randf1_model1 = RandomForestClassifier(random_state=3)

In [174]:
make_train_scorer(randf1_model1, X_train_res, y_train_res, X_val_res, y_val_res)

Train Score: 0.9797029301360335
Validation Score: 0.31834569197117685

* **Logistic Regression - Basic**

In [161]:
#instantiating a logistic regression model
logreg1_model2 = LogisticRegression(random_state=3, max_iter=1000)

In [180]:
make_train_scorer(logreg1_model2, X_train_res, y_train_res, X_val_res, y_val_res)

Train Score: 0.3237776661168715
Validation Score: 0.3082657859507013

* **Desision Search Tree - Basic**

In [163]:
dectree1_model3 = DecisionTreeClassifier(random_state=3)

In [164]:
make_train_scorer(dectree1_model3, X_train, y_train, X_val, y_val)

Train Score: 0.9730424255241953
Validation Score: 0.2770202541427408

**NON-BASIC MODELS: Fitting and Returning Scores for Models With Gridsearch CV and Pipeline**

* **Logistic Regression - Pipeline & Gridsearch CV**

In [181]:
pipe = make_pipeline(SMOTE(random_state=42), LogisticRegression())

In [182]:
list(pipe.get_params().keys())

['memory',
 'steps',
 'verbose',
 'smote',
 'logisticregression',
 'smote__k_neighbors',
 'smote__n_jobs',
 'smote__random_state',
 'smote__sampling_strategy',
 'logisticregression__C',
 'logisticregression__class_weight',
 'logisticregression__dual',
 'logisticregression__fit_intercept',
 'logisticregression__intercept_scaling',
 'logisticregression__l1_ratio',
 'logisticregression__max_iter',
 'logisticregression__multi_class',
 'logisticregression__n_jobs',
 'logisticregression__penalty',
 'logisticregression__random_state',
 'logisticregression__solver',
 'logisticregression__tol',
 'logisticregression__verbose',
 'logisticregression__warm_start']

In [147]:
param_grid = {
                'logisticregression__C':[.5,.7,.8,.9,1.0],
                'logisticregression__class_weight':[ { 0:.77, 1:.23}, None, "balanced" ],
                'logisticregression__penalty': ['l1', 'l2'], 
                'logisticregression__solver': [ 'lbfgs', 'liblinear', 'sag', 'saga'],
                'logisticregression__max_iter':[100, 1000, 10000]
            }

            
gs_logreg2_model4 = GridSearchCV(estimator=pipe, param_grid=param_grid, scoring = 'f1', n_jobs=-1)

fitting to GS 1

In [183]:
# make_train_scorer(gs_logreg2_model4, X_train_res, y_train_res, X_val_res, y_val_res)

KeyboardInterrupt

naive bayes