<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc">
    <ul class="toc-item">
    <li>
        <span>
            <a href="#â™«-harder,-better,-faster,-stronger-â™«" data-toc-modified-id="â™«-harder,-better,-faster,-stronger-â™«-1">
            <span class="toc-item-num">1&nbsp;&nbsp;</span>â™« harder, better, faster, stronger â™«</a></span>
    <ul class="toc-item">
        <li>
            <span>
                <a href="#Some-useful-resources-on-optimization" data-toc-modified-id="Some-useful-resources-on-optimization-1.1">
            <span class="toc-item-num">1.1&nbsp;&nbsp;</span>Some useful resources on optimization</a>
            </span>
        </li>
        </ul>
        </li>
        <li>
            <span>
                <a href="#Vanishing-Gradient-Problem" data-toc-modified-id="Vanishing-Gradient-Problem-2">
                    <span class="toc-item-num">2&nbsp;&nbsp;</span>Vanishing Gradient Problem</a>
            </span>
            <ul class="toc-item"><li>
                <span>
                    <a href="#Activation-functions-(from-before)" data-toc-modified-id="Activation-functions-(from-before)-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Activation functions (from before)</a>
                </span>
                <ul class="toc-item">
                    <li>
                        <span>
                            <a href="#Recall-what-an-activation-function-does" data-toc-modified-id="Recall-what-an-activation-function-does-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Recall what an activation function does</a></span></li><li><span><a href="#Using-the-proper-activation" data-toc-modified-id="Using-the-proper-activation-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Using the proper activation</a></span></li></ul></li><li><span><a href="#Random-Starts" data-toc-modified-id="Random-Starts-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Random Starts</a></span></li><li><span><a href="#Momentum" data-toc-modified-id="Momentum-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Momentum</a></span><ul class="toc-item"><li><span><a href="#Solution?--Give-it-some-speed-ðŸ˜Ž" data-toc-modified-id="Solution?--Give-it-some-speed-ðŸ˜Ž-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Solution?  Give it some speed ðŸ˜Ž</a></span><ul class="toc-item"><li><span><a href="#Code-Implementation" data-toc-modified-id="Code-Implementation-2.3.1.1"><span class="toc-item-num">2.3.1.1&nbsp;&nbsp;</span>Code Implementation</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Make-it-Go-Faster-with-Optimizers!" data-toc-modified-id="Make-it-Go-Faster-with-Optimizers!-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Make it Go Faster with Optimizers!</a></span><ul class="toc-item"><li><span><a href="#Normalization-(Batch-Normalization)" data-toc-modified-id="Normalization-(Batch-Normalization)-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Normalization (Batch Normalization)</a></span></li><li><span><a href="#Stochastic-Gradient-Descent" data-toc-modified-id="Stochastic-Gradient-Descent-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Stochastic Gradient Descent</a></span><ul class="toc-item"><li><span><a href="#Steps" data-toc-modified-id="Steps-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Steps</a></span></li></ul></li><li><span><a href="#AdaGrad-&amp;-RMSProp" data-toc-modified-id="AdaGrad-&amp;-RMSProp-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>AdaGrad &amp; RMSProp</a></span><ul class="toc-item"><li><span><a href="#Code-Example" data-toc-modified-id="Code-Example-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Code Example</a></span></li></ul></li><li><span><a href="#Adam-(Adaptivr-Moment-Estimation)-Optimization-and-Other-Variants" data-toc-modified-id="Adam-(Adaptivr-Moment-Estimation)-Optimization-and-Other-Variants-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Adam (Adaptivr Moment Estimation) Optimization and Other Variants</a></span></li><li><span><a href="#Learning-Rate-Decay" data-toc-modified-id="Learning-Rate-Decay-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Learning Rate Decay</a></span><ul class="toc-item"><li><span><a href="#Solution?" data-toc-modified-id="Solution?-3.5.1"><span class="toc-item-num">3.5.1&nbsp;&nbsp;</span>Solution?</a></span></li><li><span><a href="#Code-Example" data-toc-modified-id="Code-Example-3.5.2"><span class="toc-item-num">3.5.2&nbsp;&nbsp;</span>Code Example</a></span></li></ul></li></ul></li></ul></div>

# Cleaning the Data

Importing the Data

In [21]:
import json
import pandas as pd 

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline 
plt.style.use('fivethirtyeight')
import nltk # importing Natural Landuage Processing Toolit
from nltk.corpus import stopwords #importing stop words to remove non-necissary words
from nltk.tokenize import word_tokenize, sent_tokenize 
from nltk.stem import WordNetLemmatizer


import re 
import nltk

raw_data = pd.read_json('../../../data/data.json', lines=True)

raw_data.head(5)

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

# Inspecting the data

In [2]:
#inspecting the data types - Noticed that they're all objects 
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200853 entries, 0 to 200852
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   category           200853 non-null  object
 1   headline           200853 non-null  object
 2   authors            200853 non-null  object
 3   link               200853 non-null  object
 4   short_description  200853 non-null  object
 5   date               200853 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 9.2+ MB

In [3]:
#checking For Null Values
raw_data.isna().sum()

category             0
headline             0
authors              0
link                 0
short_description    0
date                 0
dtype: int64

In [4]:
#reassigning dataframe to df to uphold the original structure of the data - used for later references.
df = raw_data.copy()

df.head()

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

---

# Preprocessing the Data for Feature Engineering

### Removing Punctuation and cleaning rows

**Short Description Feature**

In [5]:
df.short_description

0         She left her husband. He killed their children...
1                                  Of course it has a song.
2         The actor and his longtime girlfriend Anna Ebe...
3         The actor gives Dems an ass-kicking for not fi...
4         The "Dietland" actress said using the bags is ...
                                ...
200848    Verizon Wireless and AT&T are already promotin...
200849    Afterward, Azarenka, more effusive with the pr...
200850    Leading up to Super Bowl XLVI, the most talked...
200851    CORRECTION: An earlier version of this story i...
200852    The five-time all-star center tore into his te...
Name: short_description, Length: 200853, dtype: object

**Removing Casing and punctuaton**

In [6]:

#Removing punctuation. It helps us reduce the size of the data 
df['short_description'] = df['short_description'].str.lower().str.replace('[^\w\s]','')
df['short_description'].head(2)

0    she left her husband he killed their children ...
1                              of course it has a song
Name: short_description, dtype: object


**Removing Non-Contributional Words from the Dataset**

In [7]:
#downloading stopwords to use
nltk.download('stopwords')
stop = stopwords.words('english')

#inspecting stop words 
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/chandler_oneal/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
#how many stop words do we have? 
df['stopwords'] = df['short_description'].apply(lambda x: len([x for x in x.split() if x in stop]))
df[['short_description','stopwords']].head(10)

                                   short_description  stopwords
0  she left her husband he killed their children ...          6
1                            of course it has a song          4
2  the actor and his longtime girlfriend anna ebe...          6
3  the actor gives dems an asskicking for not fig...          5
4  the dietland actress said using the bags is a ...          4
5  it is not right to equate horrific incidents o...         10
6                               its catchy all right          2
7        theres a great miniseries joining this week          2
8  myers kids may be pushing for a new powers fil...          5
9  youre getting a recent academy awardwinning movie          1

In [9]:
# inspecting stop words column to identify the number of unnecissary words within each column
df.head(2)

,category,headline,authors,link,short_description,date,stopwords
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,she left her husband he killed their children ...,2018-05-26,6
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,of course it has a song,2018-05-26,4

**Removing Stop Words**

In [10]:
#removing stopwords 
df['short_description'] = df['short_description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['short_description'].head()

0     left husband killed children another day america
1                                          course song
2    actor longtime girlfriend anna eberstein tied ...
3    actor gives dems asskicking fighting hard enou...
4    dietland actress said using bags really cathar...
Name: short_description, dtype: object

**Tokenizing the text:** 
* **splitting a phrase, sentence, paragraph, or an entire text document into smaller units, such as individual words or terms. Each of these smaller units are called tokens.**

In [11]:
#Creating a tokenizer function 
def tokenize(word):
    joined_word = ' '.join(word)
    tokenized_words = word_tokenize(joined_word)
    
    return tokenized_words

In [12]:
#applying tokenizer to short description
tokenized_description = tokenize(df['short_description'])
tokenized_description[:10]

['left',
 'husband',
 'killed',
 'children',
 'another',
 'day',
 'america',
 'course',
 'song',
 'actor']

**Lemmitizing the data to reduce repitition by removingg the affixes**

In [22]:
#instantiating a lemmatizer
lemma = WordNetLemmatizer() #instantiate

In [27]:
#removing affixes from all words
def lemm_words(data):
    tokens = word_tokenize(data)
    lemmed_tokens = [lemma.lemmatize(word) for word in tokens]
    return ' '.join(lemmed_tokens)

In [ ]:
lemmed = df.short_description.apply(lemm_words)

In [30]:
#inspecting lemmatized words 
len(lemmatized)

2199364

In [ ]:
df.headline + ' ' + df.short_description

0         There Were 2 Mass Shootings In Texas Last Week...
1         Will Smith Joins Diplo And Nicky Jam For The 2...
2         Hugh Grant Marries For The First Time At Age 5...
3         Jim Carrey Blasts 'Castrato' Adam Schiff And D...
4         Julianna Margulies Uses Donald Trump Poop Bags...
                                ...
200848    RIM CEO Thorsten Heins' 'Significant' Plans Fo...
200849    Maria Sharapova Stunned By Victoria Azarenka I...
200850    Giants Over Patriots, Jets Over Colts Among  M...
200851    Aldon Smith Arrested: 49ers Linebacker Busted ...
200852    Dwight Howard Rips Teammates After Magic Loss ...
Length: 200853, dtype: object